.filter__label {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Open Sans';
    color: #092658;
    font-size: 30px;
    font-weight: bold;
}

.filter__input {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    border: 2px solid black;
    font-family: 'Open Sans';
    color: #092658;
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
}